.even{
    color:green
}
.odd{
    color:red
}
.maindiv{
 
    text-align: center;
}
button{
    margin-left: 10px;
    border-radius: 15px;
    background-color:rgb(11,134,159);
    border:0px;
    color:white;
    width:70px;
    height: 30px;

}